@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Outfit:wght@100..900&display=swap");
.font-instrumentic {
  font-family: "Instrument Serif", serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.paragraph-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.editor-container {
  max-height: 200px;
  overflow-y: auto; /* Enable vertical scrolling */
}

::-moz-selection {
  background: #27ae60;
  color: white;
}
::-webkit-selection {
  background: #27ae60;
  color: white;
}
::selection {
  background: #27ae60;
  color: white;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.post-content a {
  color: #6a737d;
  text-decoration: underline;
  text-decoration-color: #6a737d;
}
.post-content a:hover {
  color: black;
  text-decoration: underline;
}

.react-calendar-heatmap .color-github-0 {
  fill: #eaedf0 !important;
}
.react-calendar-heatmap .color-github-1 {
  fill: #1e874b !important;
  opacity: 0.4 !important;
}
.react-calendar-heatmap .color-github-2 {
  fill: #1e874b !important;
  opacity: 0.6 !important;
}
.react-calendar-heatmap .color-github-3 {
  fill: #1e874b !important;
  opacity: 0.8 !important;
}
.react-calendar-heatmap .color-github-4 {
  fill: "#1e874b";
}
.react-calendar-heatmap .color-github-5 {
  fill: "#1e874b";
}

.ql-container.ql-snow {
  border: 1px solid #ccc; /* Your desired border style */
  z-index: -99; /* Set the z-index to the desired value */
}

.ql-toolbar.ql-snow {
  z-index: -99; /* Set the z-index to the desired value */
}
